.body--container{
    width: 100%;
    background-color: #9B5DE5;
    background: linear-gradient(to bottom right, #D160C4, #9B5DE5); /* Gradient from top-left to bottom-right */
    min-height: 100dvh;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}