.card--container{
    border-radius: 10px;
    width: 42%;
    background-color: #6B6E70;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card--icons{
    height: 50px;
}

.card--texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: bold; 
    background: linear-gradient(to bottom right, #D160C4, #D160C4); /* Your gradient */
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #6B6E70;
}
