.homeBody--container{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom right, #D160C4, #9B5DE5); /* Gradient from top-left to bottom-right */
    min-height: 100dvh;
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content--container{
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}