.homeBody--container{
    width: 100%;
    height: 100dvh;
    background: linear-gradient(to bottom right, #D160C4, #9B5DE5); /* Gradient from top-left to bottom-right */
    min-height: 100dvh;
    margin: 0px;
    padding: 0px;
}