.carousel-container {
  position: relative;
  width: 100%; /* Tamanho do container */
  max-width: 200px;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  min-width: calc(100% - 40px); /* Para mostrar parte dos cartões adjacentes */
  margin: 0 10px; /* Ajustar espaçamento dos cartões */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
