@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.wrapper {
  display: flex; /* Usando flex para garantir que o card preencha o slide corretamente */
  justify-content: center;
  align-items: center;
}

.slick-slide {
  display: flex; /* Garante que o conteúdo preencha o slide */
  justify-content: center;
  align-items: center;
}

.slick-prev, 
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  bottom: -30px; /* Ajusta a posição dos dots */
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  position: relative;
}

.carousel-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
